/* Universal Styles */
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */

    font-display: optional;
  }
  /* raleway-500 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v18-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */

         font-display: optional;
  }
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */

         font-display: optional;
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */

         font-display: optional;
  }
  /* raleway-500italic - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/raleway-v18-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-500italic.svg#Raleway') format('svg'); /* Legacy iOS */

         font-display: optional;
  }

/* baskervville-regular - latin */
@font-face {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/baskervville-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/baskervville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/baskervville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/baskervville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/baskervville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/baskervville-v4-latin-regular.svg#Baskervville') format('svg'); /* Legacy iOS */

         font-display: optional;
  }
  /* baskervville-italic - latin */
  @font-face {
    font-family: 'Baskervville';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/baskervville-v4-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/baskervville-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/baskervville-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/baskervville-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/baskervville-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/baskervville-v4-latin-italic.svg#Baskervville') format('svg'); /* Legacy iOS */

         font-display: optional;
  }

  :root {
    --color-primary: #3E5FAC;
    --color-secondary: #EDF6E3;;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "Raleway", sans-serif;
    --font-heading: "Baskerville", serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
  }


  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
  
  h1 {
    margin-bottom: calc(var(--space) * 3);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 6vmin);
    line-height: calc(var(--line-height) / 1.25);
    color: #3E5FAC;
  }

  h2 {
    margin-bottom: calc(var(--space) * 1.5);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 3vmin);
    line-height: calc(var(--line-height) / 1.25);
    color: #3E5FAC;
  }

html {
    background-color:#EDF6E3 ;
  }



.section-text{
  font-family: "Baskerville", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.25rem 0;
}

/* Landingpage */

    header.landingpage {
        height: 100vh;
        background-color: #EDF6E3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*border-color:#3E5FAC;*/
    }
    
    
    header.landingpage  h1 {
        font-family: "Baskerville", serif;
        font-size: 10vw;
        font-weight: 800;
        flex: 1;
        color: #3E5FAC;
        text-decoration: none;
    }

    header.landingpage  p {
        font-family: "Raleway", sans-serif;
        font-size: 5vw;
        color: #3E5FAC;
    }

    /* Buttons */
    
    .buttons {
        align-items: center;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding:  40px 0px;
        width: 240px;
    }
    
    .btn {
        letter-spacing: 0.1em;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        max-width: 160px;
        position: relative;
        text-decoration: none;
        width: 100%;
    }
    .btn:hover {
        text-decoration: none;
    }
    
    /*btn_background*/
    .effect04 {
        --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
        display: var(--uismLinkDisplay);
        color:#3E5FAC;
        outline: solid  5px #3E5FAC;
        position: relative;
        transition-duration: 0.4s;
        overflow: hidden;
    }
    
    .effect04::before,
    .effect04 span{
        margin: 0 auto;
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-duration: 0.4s;
    }
    
    /* 文字1を上に */
    .effect04:hover{
        background-color: #3E5FAC;
    }
    
    /* HOVERしたら文字1を上に */
    .effect04:hover span{
        -webkit-transform: translateY(-400%) scale(-0.1,20);
                transform: translateY(-400%) scale(-0.1,20);
    }
    
    /*文字2*/
    .effect04::before{
        content: attr(data-sm-link-text);
        color: #EDF6E3;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: translateY(500%) scale(-0.1,20);
                transform: translateY(500%) scale(-0.1,20);
    }
    
    /* HOVERしたら文字2を上に */
    .effect04:hover::before{
        letter-spacing: 0.05em;
        -webkit-transform: translateY(0) scale(1,1);
                transform: translateY(0) scale(1,1);
    }

/* Main Page */


/* Navigation Bar */


.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .main-navigation-toggle + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
  
  .icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
  }
  
  .icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
  }
  
  .icon--menu {
    stroke: var(--color-primary);
  }
  
  .icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
  }
  
  .main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 1;
  }
  .main-navigation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
  }
  .main-navigation ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  .main-navigation li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .main-navigation li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-size);
    background-color: var(--color-secondary);
    transform-origin: 0 50%;
    transform: translateX(-100%) skew(15deg);
  }
  .main-navigation a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
  
  .main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);
  }
  .main-content > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
  
  .main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
  }
  .main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
  }
  .main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
  }
  .main-navigation-toggle:checked ~ .main-navigation:after {
    animation: nav-bg var(--nav-duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:after {
    animation: nav-line var(--duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation a {
    animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after,
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
    animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after,
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
    animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after,
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
    animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after,
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
    animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
  }
  
  @keyframes nav-bg {
    from {
      transform: translateX(-100%) skewX(-15deg);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes nav-line {
    0% {
      transform: scaleX(0);
      transform-origin: 0 50%;
    }
    35% {
      transform: scaleX(1.001);
      transform-origin: 0 50%;
    }
    65% {
      transform: scaleX(1.001);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  }
  @keyframes link-appear {
    0%,
    25% {
      transform: translateY(100%);
    }
    50%,
    100% {
      transform: translateY(0);
    }
  }

/* Main Content */


.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  padding: 2vw;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row#divider{
  border-bottom: 5px solid #3E5FAC;
}

/* Banner */

#banner{
  padding:0;
}

#hero {
  width: 100%;
  height: 50vmin;
  background-color: #3E5FAC;
  color: var(--color-primary);
  background-image: url('./fotos/pexels-irina-iriser-4706409.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;
}

#hero h1 { 
  text-align: center;
}

#banner h1 {
  font-size: 5vw;
}

h1#logo{
  font-size: 10vw;
  margin:0;
}


/* Produit */

#produit{
  display:flex;
  align-items : center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#produitphoto{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

#produitphoto img {
  max-width: 100%;
  width: 500px;
}

/* Equipe */

#equipe {
  background-color: #3E5FAC;
  color: #EDF6E3;
}